/Debug/
/.lkm.ko.cmd
/.lkm.mod.o.cmd
/.lkm.o.cmd
/.memory.ko.cmd
/.memory.mod.o.cmd
/.memory.o.cmd
/Makefile~
/lkm.mod.c
/lkm.mod.o
/lkm.o
/memory.mod.c
/memory.mod.o
/memory.o
/modules.order
/memory.ko
/lkm.ko
/Module.symvers
